sudo: required

# Only build only master branch and tags
branches:
  only:
  - master
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
 

services:
  - docker

language: minimal

script:
  - bash .travis/deploy_dockerhub.sh